// app global css in SCSS form
@import 'utils.scss';
@import 'tables.scss';

body {
  font-family: 'DM Sans', serif;
  font-size: 16px;
  line-height: 1.3rem;
  letter-spacing: 0;
}
.q-btn {
  text-transform: initial;
  font-size: 16px;
}

.q-btn--dense {
  font-size: 12px;
  padding: 4px 8px !important;
}

.q-btn:not(.q-btn--round) {
  padding: 6px 16px;
}
.q-btn--rectangle {
  border-radius: 4px;
}
.q-btn--rectangle .q-icon {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.q-btn--outline::before {
  border-width: 2px;
}
.q-checkbox__bg {
  border-width: 1px;
}
.page-title {
  color: #111827;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.3em;
  margin: 0 0 2rem;
  &--no-margin {
    margin: 0;
  }
}
.page-subtitle {
  color: #111827;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3em;
}

//INPUTS
.q-field--required .q-field__label::after {
  content: '*';
  color: #dc3545;
  margin-left: 1px;
}
.q-field--labeled {
  padding-top: 26px;
}
.q-field--auto-height .q-field__control {
  min-height: initial;
}
.q-field--labeled.q-field--auto-height .q-field__control-container {
  padding-top: 0;
}
.q-field__control {
  height: 40px;
}
.q-field__label {
  top: -26px;
  left: -12px;
  color: #111827;
  font-size: 14px;
  transform: none !important;
}
.q-field--labeled .q-field__native {
  height: 40px;
  padding-top: 10px;
  line-height: 10px;
}
.q-field__marginal {
  height: 40px;
}
.q-checkbox__label {
  font-size: 14px;
  color: #111827;
}

.profile {
  container-type: inline-size;
  display: flex;
}
.profile__avatar {
  width: 75px;
  height: 75px;
  padding: 16px 0 0 16px;
  flex: 1 0 75px;
}
.profile__content {
  padding: 16px;
}
@container (min-width: 991px) {
  .profile__avatar {
    width: 150px;
    height: 150px;
    padding: 0;
    flex: initial;
  }
  .profile__content {
    display: table;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
  }
  .form-row {
    display: table-row;
  }
  .form-row > * {
    display: table-cell;
    border: 1px solid #d9d9d9;
    margin-bottom: 0 !important;
    padding: 16px;
  }
}
.form-group {
  margin-bottom: 16px;
}
.form-label {
  font-weight: 500;
}

@media print {
  .q-header {
    display: none;
  }
  .q-page-container {
    padding-top: 0;
  }
}

.q-breadcrumbs--last {
  color: #6b7280;
}

.q-breadcrumbs__separator {
  color: #9ca3af;
}
