// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

:root {
  --grey-50: #f3f4f6;
  --grey-100: #f4f5f7;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  --primary: #001f6d;
}

$grey-50: var(--grey-50);
$grey-100: var(--grey-100);
$grey-200: var(--grey-200);
$grey-300: var(--grey-300);
$grey-400: var(--grey-400);
$grey-500: var(--grey-500);
$grey-600: var(--grey-600);
$grey-700: var(--grey-700);
$grey-800: var(--grey-800);
$grey-900: var(--grey-900);

$primary: var(--primary);
$secondary: #111827;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

//cards
$naranja: #ee8b0080;
